body {
    font-family: Open Sans, Arial, sans-serif;
    margin: 0 auto;
    min-width: 215px;
    max-width: 1500px;
}

.u-spacer {
    margin-bottom: 20px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 999;
    min-width: 215px;
    max-width: 1500px;
}

.nav__list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.nav__list-item {
    color: black;
    float: right;
    text-align: center;
    padding: 0px 16px 0 0;
}

.nav__list-item a:hover {
    color: #1AAB8A;
}

.nav__logo h2 {
    font-size: 24px;
    font-weight: 100;
    margin: 0px 0;
}

.nav a {
    text-decoration: none;
}

.title {
    background-color: #1AAB8A;
    color: white;
    text-align: center;
    font-weight: 300;
    line-height: 3;
    letter-spacing: 5px;
    font-family: latio, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 90px;
    font-size: 48px;
    text-shadow: 2px 2px 5px #252627;
}

.main__content {
    margin-bottom: 20px;
}

.sort__content {
    padding: 20px;
    text-align: center;
    display: inline-block;
    flex-grow: 1;
}

.sort__btn {
    background: white;
    color: black;
    border: none;
    position: relative;
    height: 60px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    font-size: 18px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.sort__btn:hover {
    background: #fff;
    color: #1AAB8A;
}

.sort__btn:before,
.sort__btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.sort__btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.sort__btn:hover:before,
.sort__btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.gallery {
    list-style-type: none;
    text-align: center;
}

.gallery__tile p {
    font-family: latio, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 3px;

}

.gallery__tile img {
    width: 100%;
}

.gallery__tile img:hover {
    cursor: pointer;
    opacity: .5;
    transition: .5s ease;
    z-index: -999;
}

.gallery__image {
    width: 100%;
}

.footer {
    background-color: white;
    border-top: 1px solid #DDDDDD;
    height: 65px;
    text-align: center;
}

.footer__item {
    color: black;
    display: inline-block;
    padding: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal__container {
    margin-left: 36%;
    margin-top: 90px;
    background-color: white;
    padding: 1rem 1.5rem;
    width: 26%;
    border-radius: 0.5rem;
}

.modal__content {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    height: 60%;
}


.modal__img {
    width: 100%;
    height: 70%;
    padding-top: 10px;
}

.modal__description {
    font-size: 12px;
}

.modal__close__btn {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.modal__close__btn:hover {
    background-color: darkgray;
}

.modal__show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media screen and (max-width: 760px) {
    .sort__btn {
        height: 45px;
        font-size: 12px;
    }

    .title {
        font-size: 36px;
    }

    .modal__container {
        margin-left: 20%;
        width: 60%;
    }


    .modal__content {
        width: 80%;
    }

    .modal__img {
        width: 80%;
    }
}


@media screen and (max-width: 415px) {

    .modal__container {
        margin-left: 12%;
        margin-top: 25%;
        width: 70%;
    }

    .modal__content {
        width: 75%;
        height: 60%;
    }

    .modal__description {
        font-size: 10px;
    }

    .modal__img {
        width: 100%;
    }

    .title {
        font-size: 22px;
    }

    .gallery__tile p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .nav__logo h2 {
        font-size: 16px;
    }

    .nav__list-item {
        font-size: 12px;
    }

    .sort__content {
        padding: 10px;
        margin-bottom: 5px;

    }

    .sort__btn {
        height: 30px;
        font-size: 14px;
    }

}